body{
    background-color: #0c121f;
}
#digitalClock {
    font-family: 'Orbitron', sans-serif;
    color: #66ff99;
    font-size: 56px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
#showTimeBtn{
    color: white;
    text-align: center;
    font-family: Orbitron;
    font-size: 20px;
    padding: 40px 80px;
    border-radius: 8px;
    background-color: #46b36a;
    cursor: pointer;
}
#digitalClock{
    top: 50%;
    left: 50%;
    font-family: Orbitron;
    letter-spacing: 7px;
}
